.App {
  min-height: 100vh;
  max-width: 1100px;
  margin: 0 auto; }
  .App__main {
    padding: 3.2rem 0 0;
    background: rgba(255, 255, 255, 0.8); }
  .App__instructions {
    margin: 1em 0; }
  .App__dog-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap; }
