.Favorited {
  background: #040404;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Favorited__faIcon {
    color: #edb506;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
    font-size: 1.25em; }
