.Header {
  background: #edb506;
  padding: 0.3rem 0;
  &__title {
    font-weight: 700;
  }
  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
