.Header {
  background: #edb506;
  padding: 0.3rem 0; }
  .Header__title {
    font-weight: 700; }
  .Header__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
